:root {
  --md-sys-color-primary: #4C662B;
  --md-sys-color-on-primary: #FFFFFF;
  --md-sys-color-primary-container: #CDEDA3;
  --md-sys-color-on-primary-container: #354E16;

  --md-sys-color-secondary: #586249;
  --md-sys-color-on-secondary: #FFFFFF;
  --md-sys-color-secondary-container: #DCE7C8;
  --md-sys-color-on-secondary-container: #404A33;

  --md-sys-color-background: #F9FAEF;
  --md-sys-color-on-background: #1A1C16;

  --md-sys-color-surface: #F9FAEF;
  --md-sys-color-on-surface: #1A1C16;

  /* Add more as needed */
}
